bg-color = #fff
/* text-color = rgba(5, 5, 5, 0.85) */
text-color = #333 /* #2c2c2c */
highlight-color = #fffbf1

body
  background bg-color
  color text-color
  font-family 'Linux Libertine', serif
  font-feature-settings 'kern', 'liga', 'clig', 'onum' 1
  margin 0
  background-image linear-gradient(#eee 1px, transparent 1px)
  background-size 100% 12px

#column
  max-width: 528px
  margin: 0 auto

#highlight
  position absolute
  background highlight-color
  /* z-index -1 */
  mix-blend-mode multiply
  pointer-events none

p
  margin 0
  
.seg
  text-align center
  font-size 36px
  line-height 48px
  padding 12px 24px

.hide
  display none
  
.note
  text-align justify
  font-size 24px
  line-height 36px
  padding 0 24px
  hyphens auto /* Doesn't work in Chrome and others */

.headword
  font-size 30px
  font-weight 600
  /* Font weight seems to be working, but make sure */
  margin 12px 0 0 0

.IPA
  line-height 24px

.word-class
  font-style italic
  line-height 24px

.rank
  line-height 24px

.info
  margin 12px 0
  
.example
  margin 12px 0

span
  display inline-block

span.link
  /* background-position 0 1.2em
  background-size 1px 1px
  background-repeat repeat-x
  background-image linear-gradient(#aaa, #aaa) */
  cursor pointer
  background #f6f0fc
