body {
  color: #333;
  margin: 0;
  background-color: #fff;
}

p {
  line-height: 1.5;
  margin: 0;
  padding: 0.25em; /* 6px, look into this */
}

#text-pane {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  max-width: 550px;
  height: 100vh;
}

#highlight {
  position: absolute;
  width: 100%;
  background-color: #fffbf1;
  z-index: -1;
}

.fast {
  transition: top 100ms, height 100ms;
  transition-timing-function: ease;
}

.slow {
  transition: top 300ms, height 300ms;
  transition-timing-function: ease;
}

#text {
  font: 24px 'Linux Libertine', serif;
  text-align: center;
  order: 3;
  overflow: hidden;
  margin: 0 5px 0 5px; /* Temp to make up for scrollbars */
  position: relative; /* So that #highlight can be absolute */
}

#note-box-header {
  font: 22px 'Linux Libertine', serif;
  font-weight: bold;
  color: #444;
  background-color: #eee;
  padding: 0 0.5em; /* Temporary */
  margin: 5px 5px 0 5px; /* Temp to make up for scrollbars */
  order: 2;
  flex-shrink: 0;
}

#note-box {
  font: 20px 'Linux Libertine', serif;
  text-align: left;
  padding: 0 0.5em 0.5em 0.5em; /* Temporary, look into this */
  border-width: 0 2px 2px 2px;
  border-color: #eee;
  border-style: solid;
  background-color: #fafafa;
  order: 1;
  overflow: hidden;
  margin: 0 5px 0 5px; /* Temp to make up for scrollbars */
}

#buttons {
  text-align: center;
  margin: 0 5px 0 5px; /* Temp to make up for scrollbars */
  order: 0;
  flex-shrink: 0;
}

button {
  font: 24px 'Linux Libertine', serif;
  margin: 10px 0;
}
