body {
  color: #333;
  margin: 0;
  background-color: #fff;
}

p {
  line-height: 1.5;
  margin: 0;
  padding: 0.25em; /* 6px, look into this */
}

#text-pane {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  max-width: 550px;
  height: 100vh;
}

#highlight {
  position: absolute;
  width: 100%;
  background-color: #fffbf1;
  z-index: -1;
}

.fast {
  transition: top 100ms, height 100ms;
  transition-timing-function: ease;
}

.slow {
  transition: top 300ms, height 300ms;
  transition-timing-function: ease;
}

#text {
  font: 24px 'Linux Libertine', serif;
  text-align: center;
  order: 3;
  overflow: hidden;
  position: relative; /* So that #highlight can be absolute */
}

#note-box-header {
  font: 22px 'Linux Libertine', serif;
  font-weight: bold;
  color: #444;
  background-color: #eee; /* #f5f5f5 */
  padding: 2px 10px; /* Temporary */
  order: 2;
  flex-shrink: 0;
}

#note-box {
  font: 20px 'Linux Libertine', serif;
  text-align: left;
  padding: 0 10px 10px 10px; /* Temporary, look into this */
  background-color: #f5f5f5;
  order: 1;
  overflow: hidden;
}

#buttons {
  text-align: center;
  background-color: #e5e5e5;
  order: 0;
  flex-shrink: 0;
}

button {
  font: 24px 'Linux Libertine', serif;
  margin: 10px 0;
}
