$background-color: #fff;
$text-color: #2c2c2c;
$highlight-color: #fffbf1;

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  margin: 0;
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 12px;
}

#text {
  max-width: 512px;
  margin: 0 auto;
}

#highlight {
  position: absolute;
  background: $highlight-color;
  /* Fallback needed for next two lines */
  mix-blend-mode: multiply;
  pointer-events: none; /* So pointer events pass through highlight to elements underneath */
}

p {
  margin: 0;
}

/* 24-36-48 */

.seg {
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  padding: 12px 24px;
}

.note {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  padding: 0 36px;
}

.note p {
  margin: 12px 0;
}

/* 24-32-48 */

/*

.seg {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  padding: 8px 16px;
}

.note {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 0 32px;
}

.note p {
  margin: 16px 0;
}

/* Convert some seg and note settings to ems? */

/**/

span {
  /* display: inline-block; */
}

span.link {
  /* background-position: 0 1.2em;
  background-size: 1px 1px;
  background-repeat: repeat-x; */
  cursor: pointer;
  background: #f6f0fc;
}

/*
span.v {
  background-image: linear-gradient($v-underline, $v-underline);
}

span.g {
  background-image: linear-gradient(#aaa, #aaa);
}
*/
