$background-color: #fff;
$text-color: #2b2b2b;
$highlight-color: #fffbf1;

$lavender-color: #f2f2ff;
$lavender-underline: #bfbfff;

$v-color: $lavender-color;
$v-underline: $lavender-underline;

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'onum' 1;
  margin: 0;
}

/* Look into width. Think it's relative to the entire window, because position is set to absolute (for vertical positioning to work. The current width of 60% is just a number that seems to work, not very satisfying. Was 50%, which would seem right given the 1:2:1 flexbox layout, but it was two short when window was resized very narrow. Maybe something to do with the scrollbar?) */

#highlight {
  position: absolute;
  width: 550px;
  background: $highlight-color;
  /* Fallback needed for next two lines */
  mix-blend-mode: multiply;
  pointer-events: none; /* Pointer events pass through highlight to elements underneath */
}

#container {
  display: flex;
}

#left {
  flex: 1;
}

#text {
  line-height: 1.5;
  font-size: 24px;
  text-align: center;
  max-width: 550px;
  flex: 2;
}

#note-pane {
  flex: 1;
}

.note {
  display: none;
}

.note.v {
}

.note.g {
  color: #444;
}

p {
  margin: 0;
  padding: 0.25em; /* 6px, look into this */
  cursor: context-menu;
}

span {
  display: inline-block;
}

span.link {
  background-position: 0 1.2em;
  background-size: 1px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}

span.v {
  background-image: linear-gradient($v-underline, $v-underline);
}

span.v:hover {
}

span.g {
  background-image: linear-gradient(#aaa, #aaa);
}

#outer-box {
  position: absolute;
  margin: 12px 24px;
  background: $v-color;
  height: 500px;
  width: 300px;
  mix-blend-mode: multiply;
}

#headword-box {
  position: absolute;
  /* background: $v-color; */
  height: 100px;
  width: 300px;
  mix-blend-mode: multiply;
}

#tall-box {
  position: absolute;
  margin: 0 12px;
  /* background: $v-color; */
  height: 500px;
  width: 276px;
  mix-blend-mode: multiply;
}

#wide-box {
  position: absolute;
  margin: 12px 0;
  /* background: $v-color; */
  height: 476px;
  width: 300px;
  mix-blend-mode: multiply;
}

#text-box {
  position: absolute;
  margin: 12px;
  /* background: $v-color; */
  height: 476px;
  width: 252px;
  mix-blend-mode: multiply;
  padding: 0 12px;
}

#headword {
  position: relative;
  font-size: 36px;
  font-feature-settings: 'onum' 1;
  margin: 6px 0 0 0;
}

#note-text {
  position: relative;
  font-size: 22px;
  font-feature-settings: 'onum' 1;
}
