$background-color: #fff;
$text-color: #2b2b2b;
$highlight-color: #fffbf1;
$note-color: #fcf7fb;

/* fcf8f7 */

$hue: 230;

$lavender-color: hsl($hue,97,97);
$lavender-underline: hsl($hue,65,72);

$v-color: #fcf8f7;
$v-underline: #8686b3;

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Linux Libertine', serif;
  font-feature-settings: 'kern', 'liga', 'clig', 'onum' 1;
  margin: 0;
  background-image: linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 1em;
}

#highlight {
  position: absolute;
  background: $highlight-color;
  /* Fallback needed for next two lines */
  mix-blend-mode: multiply;
  pointer-events: none; /* Pointer events pass through highlight to elements underneath */
}

#container {
  display: flex;
}

#left {
  flex: 1;
}

#text {
  line-height: 1.5;
  font-size: 32px;
  text-align: center;
  max-width: 512px;
  flex: 1.6;
}

#note-pane {
  font-size: 28px;
  flex: 1;
}

.note {
  display: none;
}

#v-monument {
}

.note.v {
  color: #8686b3;
}

p {
  margin: 0;
  padding: 0.25em 0.5em;
}

span {
  display: inline-block;
}

span.link {
  background-position: 0 1.2em;
  background-size: 1px 1px;
  background-repeat: repeat-x;
  cursor: pointer;
}

span.v {
  background-image: linear-gradient($v-underline, $v-underline);
}

span.v:hover {
}

span.g {
  background-image: linear-gradient(#aaa, #aaa);
}

#outer-box {
  position: absolute;
  margin: 12px 24px;
  background: $note-color;
  height: 500px;
  width: 320px;
  mix-blend-mode: multiply;
}

#headword-box {
  position: absolute;
  /* background: $highlight-color; */
  height: 90px;
  width: 320px;
  mix-blend-mode: multiply;
}

#tall-box {
  position: absolute;
  margin: 0 12px;
  /* background: $v-color; */
  height: 500px;
  width: 276px;
  mix-blend-mode: multiply;
}

#wide-box {
  position: absolute;
  margin: 12px 0;
  /* background: $v-color; */
  height: 476px;
  width: 300px;
  mix-blend-mode: multiply;
}

#text-box {
  position: absolute;
  margin: 12px;
  /* background: $v-color; */
  height: 476px;
  width: 272px;
  mix-blend-mode: multiply;
  padding: 0 12px;
}

#headword {
  position: relative;
  font-size: 32px;
  margin: 6px 0 0 0;
}

#note-text {
  position: relative;
  font-size: 28px;
}
