body {
  color: #333;
  margin: 0;
  background-color: #fff;
}

p {
  line-height: 1.5;
  margin: 0;
  padding: 0.25em; /* 6px, look into this */
}

#text-pane {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  max-width: 550px;
  height: 100vh;
}

#highlight {
  position: absolute;
  width: 100%;
  background-color: #fffbf1;
  z-index: -1;
}

.slow {
  transition: top 300ms, height 300ms;
  transition-timing-function: ease;
}

#text {
  font: 24px 'Linux Libertine', serif;
  text-align: center;
  order: 1;
  overflow: auto;
  position: relative; /* So that #highlight can be absolute */
}

#buttons {
  text-align: center;
  order: 0;
  flex-shrink: 0;
}

button {
  font: 24px 'Linux Libertine', serif;
  margin: 6px 0;
}

div.testing {
  display: none;
  background-color: #f7f7f7;
}

div:target {
  display: block;
}